<mat-card class="cadastro-box">
    <i class="material-icons">account_circle</i>

    <mat-card-content>
        <form [formGroup]="cadastroForm" #form="ngForm" class="cadastroForm">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Seu Nome.." formControlName="nome" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Seu email.." formControlName="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Sua senha.." formControlName="senha" [type]="esconderSenhaLogin ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="esconderSenhaLogin = !esconderSenhaLogin" [attr.aria-label]="'Esconder Senha'" [attr.aria-pressed]="esconderSenhaLogin">
          <mat-icon>{{esconderSenhaLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
                </mat-form-field>
            </p>
            <mat-card-actions>
                <p><button mat-raised-button color="primary" (click)="cadastrarUsuario()" [disabled]="isFormularioInvalido()">Cadastrar</button></p>
                <p><button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button></p>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>