.login-box {
    height: 55%;
    width: 25%;
    margin: auto;
    margin-top: 10%;
}

.loginForm {
    height: 100%;
    display: inline-block;
}

.mat-card-content {
    height: 80%;
    text-align: center;
    margin-top: inherit;
}

.material-icons {
    margin: 0px 0px 0px 48%;
}

@media screen and (max-width: 1400px) {
    @media screen and (max-width: 1800px) {
        .login-box {
            width: 25%;
            height: 40%;
            margin: auto;
            margin-top: 18%;
        }
    }
    .login-box {
        width: 25%;
        height: 50%;
        margin: auto;
        margin-top: 18%;
    }
    .material-icons {
        margin: 0px 0px 0px 48%;
    }
}

@media screen and (max-width: 800px) {
    .login-box {
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 18%;
    }
    .material-icons {
        margin: 0px 0px 0px 45%;
    }
}

@media screen and (max-width: 1300px) {
    .login-box {
        width: 55%;
        height: 80%;
        margin: auto;
        margin-top: 8%;
    }
    .material-icons {
        margin: 0px 0px 0px 48%;
    }
}

@media screen and (max-width: 417px) {
    @media screen and (max-width: 554px) {
        .login-box {
            width: 50%;
            height: 65%;
            margin: auto;
            margin-top: 18%;
        }
    }
    @media screen and (max-width: 1112px) {
        .login-box {
            width: 50%;
            height: 55%;
            margin: auto;
            margin-top: 18%;
        }
    }
    .login-box {
        width: 50%;
        height: 65%;
        margin: auto;
        margin-top: 18%;
    }
    .material-icons {
        margin: 0px 0px 0px 48%;
    }
}

@media screen and (max-width: 414px) {
    .login-box {
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 18%;
    }
    @media screen and (max-width: 411px) {
        .login-box {
            width: 50%;
            height: 50%;
            margin: auto;
            margin-top: 18%;
        }
    }
    @media screen and (max-width: 375px) {
        .login-box {
            width: 70%;
            height: 70%;
            margin: auto;
            margin-top: 18%;
        }
    }
    @media screen and (max-width: 360px) {
        .login-box {
            width: 60%;
            height: 60%;
            margin: auto;
            margin-top: 18%;
        }
    }
    @media screen and (max-width: 320px) {
        .login-box {
            width: 70%;
            height: 70%;
            margin: auto;
            margin-top: 18%;
        }
    }
}