<mat-card class="login-box">
    <i class="material-icons">account_circle</i>

    <mat-card-content>
        <form [formGroup]="loginForm" #form="ngForm" class="loginForm">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Seu email.." formControlName="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Sua senha.." formControlName="senha" [type]="esconderSenhaLogin ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="esconderSenhaLogin = !esconderSenhaLogin" [attr.aria-label]="'Esconder Senha'" [attr.aria-pressed]="esconderSenhaLogin">
            <mat-icon>{{esconderSenhaLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                </mat-form-field>
            </p>
            <mat-card-actions>
                <p><button mat-raised-button color="warn" (click)="esqueciSenha()">Esqueci a Senha</button></p>
                <p><a mat-button (click)="abrirDialogCadastroUsuario()">Cadastrar Usuario</a></p>
                <p><button mat-raised-button color="primary" (click)="login()">Entrar</button></p>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>