.perfil_button {
    flex: auto;
    position: absolute;
    margin-left: 90%;
}

.container-ler-tb>h1 {
    margin: -200px 30% 0px 37%;
}

.container-dados-escaneados {
    margin-left: 15%;
    margin-top: -100px;
}

h1 {
    font-size: -webkit-xxx-large;
}

.mat-form-escaneados {
    margin: 50px 50px 50px 50px;
    width: 25%;
}

.text-field-escanear {
    width: 73%;
}

.escanear {
    margin-left: 25%;
}

#botao {
    width: 25%;
    height: 150px;
    font-size: 32px;
    left: 25%;
}

#botao-triar {
    height: 150px;
    width: 900px;
    font-size: 32px;
    left: 25%;
}

.mat-menu-item {
    font-size: 46px;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.botoes-acoes:after {
    content: "";
    display: table;
    clear: both;
}

.triar_hp {
    margin-top: 200px;
    position: inherit;
    height: 150px;
    width: 900px;
    font-size: 32px;
}

.triar_simpress {
    margin-top: 200px;
    position: inherit;
    height: 150px;
    width: 900px;
    margin-left: 90px;
    font-size: 32px;
}

.triar_okidata {
    margin-top: 50px;
    position: inherit;
    height: 150px;
    width: 900px;
    margin-left: 90px;
    font-size: 32px;
}