<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="voltar()">
            <i class="material-icons md-48" id="voltar">
                arrow_back
            </i>
        </button>
        <span style="margin-left: 60%; font-size: 2em">{{usuarioLogado.email}}</span>
        <button mat-button [matMenuTriggerFor]="perfil" class="perfil_button">
          <i class="material-icons md-48" id="perfil-botao">
              account_circle
          </i>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-menu #perfil="matMenu" xPosition="before">
    <button mat-menu-item routerLink="perfil" routerLinkActive="active">
      Meu Perfil
  </button>
    <button mat-menu-item routerLink="/" (click)="sair()">
      Sair
  </button>
</mat-menu>