<app-top-menu></app-top-menu>
<mat-card>
    <div class="all-containers">
        <div class="container-ler-tb">
            <img src="../../../../assets/images/lex.jpg" style="width: 500px;" alt="lexmark">
            <h1>
                <span>LER TBLEX: </span>
                <mat-form-field style="width: 250px;">
                    <input matInput (paste)="paste($event)">
                </mat-form-field>
            </h1>
        </div>
        <div class="container-dados-escaneados">
            <h1>
                <mat-form-field class="mat-form-escaneados" appearance="fill">
                    <mat-label>PRE-ALERTA</mat-label>
                    <textarea matInput [formControl]="preAlertaId" placeholder="PRE-ALERTA" value="{{preAlertaId.value}}"> </textarea>
                </mat-form-field>
                <mat-form-field class="mat-form-escaneados" appearance="fill">
                    <mat-label>PALLET</mat-label>
                    <textarea matInput [formControl]="palletId" placeholder="PALLET" value="{{palletId.value}}"> </textarea>
                </mat-form-field>
                <mat-form-field class="mat-form-escaneados" appearance="fill">
                    <mat-label>QTD INFORMADA</mat-label>
                    <textarea matInput [formControl]="qntInformadaCliente" placeholder="QTD INFORMADA" value="{{qntInformadaCliente.value}}"> </textarea>
                </mat-form-field>
            </h1>
        </div>
        <div class="escanear">
            <h1>
                <mat-form-field appearance="outline" style="width: 1000px;">
                    <mat-label>ESCANEAR SERIAL NUMBER: </mat-label>
                    <input matInput [formControl]="serialNumberForm" (paste)="adicionarSerialNumber($event)">
                </mat-form-field>
            </h1>
        </div>
        <div class="escanear" style="margin-top: -100px; width: 30%;">
            <h1>
                <span style="margin-left: 200px;">Quantidade: {{serialNumbers.length}}</span>
                <mat-action-list>
                    <mat-list-item *ngFor="let serialNumber of serialNumbers">
                        <button mat-list-item (click)="removeSerialNumber(serialNumber)"> <h1>{{serialNumber}}</h1>
                        <i class="material-icons" style="margin-left: 60px;">
                            close
                        </i>
                    </button>
                    </mat-list-item>
                </mat-action-list>
            </h1>
        </div>
        <button mat-raised-button color="primary" id="botao-triar" (click)="triar()" class="triar_lexmark" [disabled]="isIssueExists()">
            TRIAR
        </button>
    </div>
</mat-card>