<app-top-menu></app-top-menu>
<mat-card>
    <div class="container-ler-tb">
        <img src="../../../../assets/images/hp.jpg" style="width: 200px;" alt="hp">
        <h1>
            <span>LER TB: </span>
            <mat-form-field style="width: 250px;">
                <input matInput (paste)="paste($event)">
            </mat-form-field>
        </h1>
    </div>
    <div class="container-dados-escaneados">
        <h1>
            <mat-form-field class="mat-form-escaneados" appearance="fill">
                <mat-label>PRE-ALERTA</mat-label>
                <textarea matInput [formControl]="preAlertaId" placeholder="PRE-ALERTA" value="{{preAlertaId.value}}"> </textarea>
            </mat-form-field>
            <mat-form-field class="mat-form-escaneados" appearance="fill">
                <mat-label>PALLET</mat-label>
                <textarea matInput [formControl]="palletId" placeholder="PALLET" value="{{palletId.value}}"> </textarea>
            </mat-form-field>
            <mat-form-field class="mat-form-escaneados" appearance="fill">
                <mat-label>QTD INFORMADA</mat-label>
                <textarea matInput [formControl]="qntInformadaCliente" placeholder="QTD INFORMADA" value="{{qntInformadaCliente.value}}"> </textarea>
            </mat-form-field>
        </h1>
    </div>

    <div class="botoes-acoes" style="margin-left: 550px; margin-top: -100px;">
        <div class="column">
            <span>
                <h1>HP TONER</h1>
            </span>
            <button mat-raised-button color="primary" style="width: 100px; height: 100px;" (click)="tonerHpPlus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_plus_1</i>
            </button>
            <button mat-raised-button color="warn" (click)="tonerHpMinus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_neg_1</i>
            </button>
            <span>
                <h1>HP TINTA</h1>
            </span>
            <button mat-raised-button color="primary" style="width: 100px; height: 100px;" (click)="tonerHPTintaPlus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_plus_1</i>
            </button>
            <button mat-raised-button color="warn" (click)="tonerHPTintaMinus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_neg_1</i>
            </button>
        </div>
        <div class="column">
            <span>
                <h1>TONER NÃO HP</h1>
            </span>
            <button mat-raised-button color="primary" style="width: 100px; height: 100px;" (click)="tonerNaoHpPlus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_plus_1</i>
            </button>
            <button mat-raised-button color="warn" (click)="tonerNaoHpMinus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_neg_1</i>
            </button>

            <span>
                <h1>NAO HP TINTA</h1>
            </span>
            <button mat-raised-button color="primary" style="width: 100px; height: 100px;" (click)="tonerNaoHPTintaPlus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_plus_1</i>
            </button>
            <button mat-raised-button color="warn" (click)="tonerNaoHPTintaMinus()" [disabled]="isIssueExists()">
                <i class="material-icons">exposure_neg_1</i>
            </button>
        </div>
        <button mat-raised-button color="primary" (click)="triar()" class="triar_hp" [disabled]="isIssueExists()">
            TRIAR
        </button>
    </div>
</mat-card>