html,
body {
    height: 100%;
    margin: 0 !important;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}
