mat-card {
    width: 50%;
    margin-left: 25%;
}

p {
    align-items: center;
    align-content: center;
    margin-left: 35%;
}

.traigens-hp-lexmark {
    height: 55%;
    margin-top: 2%; 
    width: 70%; 
    margin-left: 5%; 
    display: flex;
}

.traigens-okidata-simpress {
    height: 55%; 
    margin-top: 2%;
    width: 70%; 
    margin-left: 5%; 
    display: flex;
}

.triagem_button {
    width: 100%;
}
