<app-top-menu></app-top-menu>
<div class="container-triagens">
    <div class="traigens-hp-lexmark">
        <mat-card class="triagem-hp-card">
            <button mat-button (click)="sendTriagemHPScreen()" class="triagem_button">
                <img mat-card-image src="../../../assets/images/hp.jpg"  alt="hp">
            </button>
            <mat-card-content>
                <p>HP</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="triagem-lexmark-card">
            <button mat-button (click)="sendTriagemLexmarkScreen()" class="triagem_button" style="height: 400px;">
                <img mat-card-image src="../../../assets/images/lex.jpg"  style="height: 400px;" alt="lexmark">
            </button>
            <mat-card-content>
                <p>LEXMARK</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="traigens-okidata-simpress">
        <mat-card class="triagem-okidata-card">
            <button mat-button (click)="sendTriagemOkidataScreen()" class="triagem_button">
                <img mat-card-image src="../../../assets/images/oki.jpg" style="height: 200px;" alt="okidata">
            </button>
            <mat-card-content>
                <p>OKIDATA</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="triagem-simpress-card">
            <button mat-button (click)="sendTriagemSimpresScreen()" class="triagem_button">
                <img mat-card-image src="../../../assets/images/simp.jpg" style="height: 200px;" alt="simpress">
            </button>
            <mat-card-content>
                <p>SIMPRESS</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>